################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[versions]
[part]
recipe = minitage.recipe:cmmi
url = http://${mirrors:sourceforge}/libssh2/libssh2-1.0.tar.gz?use_mirror=switch
md5sum=c3602adae912702ba9cbefbe813b7b5b
[mirrors]
sourceforge = downloads.sourceforge.net



